
*{
  padding: 0;
  margin: 0;
}

body {
  background-color: aquamarine;


}

.app h1 {
  font-size: xx-large;
  padding-bottom: 20px;
}
form input  {
  padding: 10px 10px 10px 20px;
  margin-bottom: 10px ;
}
form button  {
  padding: 10px;
  margin-bottom: 10px;
}

.card{
  margin-left: 200px;
  margin-top: 50px;
  padding: 5px;
  height: 200px;
  width: 300px;
  background-color: #f0f0f0;
}

span{
  padding: 20px;
}